@{
    ViewData["Title"] = "Centro Deportivo El Bicho";
}

  <div id="Carousel">
    <div class="row">
      <div class="col">
        <div id="carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active item-3">
              <!-- <img src="../img/carousel-1.jpg" class="d-block img-carousel" alt="..." > -->
            </div>
            <div class="carousel-item item-2">
              <!-- <img src="../img/carousel-2.jpg" class="d-block img-carousel" alt="..."> -->
            </div>
            <div class="carousel-item item-1">
              <!-- <img src="../img/carousel-3.jpg" class="d-block img-carousel" alt="..."> -->
            </div>
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>

          <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div>
      <h2>Cosas que agregar: A medida que vayamos avanzando en clases</h2>
      <p>Vistas del Dueño</p>
      <p>Vistas del trabajador</p>
      <p>Cambiar la ubicacion por el url de googlemaps</p>

  </div>

